 <!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Foodie - Supper delicious Burger in town!</title>
  <link rel="shortcut icon" href="./favicon.svg" type="image/svg+xml">
  <link rel="stylesheet" href="dashboardstyle.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&family=Rubik:wght@400;500;600;700&family=Shadows+Into+Light&display=swap"
  rel="stylesheet">
  <link rel="preload" as="image" href="./images/bur1.png" media="min-width(768px)">
  <link rel="preload" as="image" href="./images/hero-banner-bg.png" media="min-width(768px)">
  <link rel="preload" as="image" href="./images/hero-bg1.jpg">

</head>

<body id="top">

  <!-- 
    - #HEADER
  -->

  <header class="header" data-header>
    <div class="container">

      <h1>
        <a href="#" class="logo">Burger Company<span class="span">.</span></a>
      </h1>

      <nav class="navbar" data-navbar>
        <ul class="navbar-list">

          <li class="nav-item">
            <a href="/dashboard" class="navbar-link" data-nav-link>Home</a>
          </li>

          <li class="nav-item">
           <a href="/createorders" class="navbar-link" data-nav-link>Create Order</a>
          </li>

          <li class="nav-item">
            <a href="/menu" class="navbar-link" data-nav-link>Shop</a>
          </li>

          <li class="nav-item">
            <a href="/makereservation" class="navbar-link" data-nav-link>Make a Reservation</a>
          </li>




           <li class="nav-item">
          <div class="dropdown">
          <button class="navbar-link" data-nav-link>Orders</button>
        <div class="dropdown-content">
          
            <a href="/placedorder" class="navbar-link" data-nav-link>Placed  Order</a>
            <a href="/pickeduporders" class="navbar-link" data-nav-link>Picked Up Orders</a>
            <a href="/completedorders" class="navbar-link" data-nav-link>Completed Orders</a>
            
        </div>
    </div>
    </li>

     {{#if loggedIn}}
      <li class="nav-item">
        <a class="navbar-link" href="/logout">Logout</a>
      </li>
    
    {{else}}
    <li class="nav-item">
      <a class="navbar-link" href="/login">Sign up</a>
    </li>
    <li class="nav-item">
      <a class="navbar-link" href="/register">Register</a>
    </li>
    
    {{/if}}


        </ul>
      </nav>

      <div class="header-btn-group">
        <button class="search-btn" aria-label="Search" data-search-btn>
          <ion-icon name="search-outline"></ion-icon>
        </button>

        
 <li class="nav-item">
          <div class="dropdown">
          <button class="btn btn-hover">My Reservations</button>
        <div class="dropdown-content">
          
            <a href="/myreservation" class="navbar-link" data-nav-link>Pending</a>
            <a href="/confirmedreservation" class="navbar-link" data-nav-link>Confirmed</a>
            
            
        </div>
    </div>
    </li>

        <button class="nav-toggle-btn" aria-label="Toggle Menu" data-menu-toggle-btn>
          <span class="line top"></span>
          <span class="line middle"></span>
          <span class="line bottom"></span>
        </button>
      </div>

    </div>
  </header>
 <main>
    <article>

      <section class="hero" id="home" style="background-image: url('./images/hero-bg1.jpg')">
        <div class="container">

            <div class="hero-content">

            <form action="/makereservation" method="POST" class="footer-form">

          <p class="footer-list-title">Book a Table</p>

          <div class="input-wrapper">

            <input type="text" name="name"  id="name" required placeholder="Your Name" aria-label="Your Name"
              class="input-field">


            <input type="email" name="email" id="email" required placeholder="Email" aria-label="Email"
              class="input-field">

          </div>

          <div class="input-wrapper">

           <input type="text" name="totalno" id="totalno" required placeholder="Total Number" aria-label="Total Number" class="input-field">

            <input type="date" name="date" id="date" required placeholder="Date" aria-label="Reservation date" class="input-field">

             <input type="time" name="time" id="time" required placeholder="Time" aria-label="Reservation time" class="input-field">


          </div>

          <textarea name="message" id="message" placeholder="Message" aria-label="Message" class="input-field"></textarea>

          <button type="submit" class="btn">Book a Table</button>

        </form>

        {{#if message }}
            <h4 class="alert alert-danger mt-4">{{message}}</h4>
        {{/if}}
          </div>
          <div>

           <figure class="hero-banner">

            <img src="./images/bur1.png" width="700" height="637" loading="lazy" alt="Burger"
              class="w-100 hero-img">

          </figure>
          </div>

        </div>
      </section>



 
 
 
 
      
