<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="loginstyle.css">
    <title>Burger Company Login</title>
</head>
<body>
 <div class="wrapper">
    <nav class="nav">
        <div class="nav-logo">
            <p>Burger Company .</p>
        </div>
        <div class="nav-button">
            <button class="btn white-btn" id="loginBtn" onclick="login()">Sign In</button>
            <button class="btn" id="registerBtn" onclick="register()">Sign Up</button>
            
        </div>
        <div class="nav-menu-btn">
            <i class="bx bx-menu" onclick="myMenuFunction()"></i>
        </div>
    </nav>

    <div class="form-box">

          <div class="login-container" id="login">
             <div class="top">
                {{!-- <span>Don't have an account? <a href="#" onclick="register()">Sign Up</a></span> --}}
                 <header>Login</header> 
            </div> 
              <form action="/auth/login" method="POST">
            <div class="form-group">
                <input type="email" class="form-control" placeholder="Username or Email" id="email" name="email"> 
                <i class="bx bx-user"></i>
            </div>
            <div class="form-group">
                <input type="password" class="form-control" placeholder="Password" id="password" name="password">
                <i class="bx bx-lock-alt"></i>
            </div>
            <button type="submit" class="submit">Login</button>
            <div class="two-col">
                <div class="one">
                    <input type="checkbox" id="login-check">
                    <label for="login-check"> Remember Me</label>
                </div>
                {{!-- <div class="two">
                    <label><a href="#">Forgot password?</a></label>
                </div> --}}
                <div class="two">
                        <p>Don't have an account? <a href="./register">Sign Up</a></p>
                    </div>
                     
            </div>
        </div>
        </form>





        <!------------------- register form -------------------------->
       <div class="register-container" id="register">
            <div class="top">
                <span>Have an account? <a href="#" onclick="login()">Login</a></span>
                <header>Sign Up</header>
            </div>
            <form action="/dashboard" method="POST">
            
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Name"  id="name" name="name">
                    <i class="bx bx-user"></i>
                </div>
                
          
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Email" id="email" name='email'>
                <i class="bx bx-envelope"></i>
            </div>
            <div class="form-group">
                <input type="password" class="form-control" placeholder="Password" id="password" name='password'>
                <i class="bx bx-lock-alt"></i>
            </div>
            <div class="form-group">
                <input type="password" class="form-control" placeholder="Confirm Password" id="passwordConfirm" name='passwordConfirm'>
                <i class="bx bx-lock-alt"></i>
            </div>
            <div class="form-group">
            <label for="role">Choose a role:</label>

                    <select id="role" name="role"  class="form-control">
                        <option value="admin">Admin</option>
                        <option value="user">User</option>
                    </select>
                    </div>

                    <button type="submit" class="submit">Register</button>



            <div class="two-col">
                <div class="one">
                    <input type="checkbox" id="register-check">
                    <label for="register-check"> Remember Me</label>
                </div>
                <div class="two">
                    <label><a href="#">Terms & conditions</a></label>
                </div>
            </div>
            </form>
        </div> 
         </div>
        {{#if message }}
        <h4 class="alert alert-danger mt-4">{{message}}</h4>
        {{/if}}
    </div>



    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    

{{!-- <script>
   
   function myMenuFunction() {
    var i = document.getElementById("navMenu");
    if(i.className === "nav-menu") {
        i.className += " responsive";
    } else {
        i.className = "nav-menu";
    }
   }
 
</script> --}}
<script>
    var a = document.getElementById("loginBtn");
    var b = document.getElementById("registerBtn");
    var x = document.getElementById("login");
    var y = document.getElementById("register");
    function login() {
        x.style.left = "4px";
        y.style.right = "-520px";
        a.className += " white-btn";
        b.className = "btn";
        x.style.opacity = 1;
        y.style.opacity = 0;
    }
    function register() {
        x.style.left = "-510px";
        y.style.right = "5px";
        a.className = "btn";
        b.className += " white-btn";
        x.style.opacity = 0;
        y.style.opacity = 1;
    }
</script>
</body>
</html>